@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Homepage";
    <h1>Customer Dashboard</h1>
    <h3>Information about customer users</h3>
}
